{% extends 'layout.html' %}
{% block title%}

django aur tweet

{% endblock %}

{% block content %}


<h1 class="text-center mt-4">Welcome to Django's Project</h1>
<h2> 
    {%if form.instance.pk%} Edit Tweet
    {%else%} Create Tweet {%endif %}
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{form.as_p}}

            <button class="btn btn-warning" 
            href="{% url 'tweet_list'%}">Submit</button>
    </form>
    <a   href="{% url 'tweet_list'%}">Back to Tweet tList</a>
</h2>

{% endblock %}